@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

#header {
  background: #6888b1;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-nav .header-ul {
  display: inline-flex;
  gap: 40px;
}

.header-nav .header-ul .header-li .header-a {
  display: flex;
  color: #fff;
  font-size: clamp(14px, 2vw, 24px);
  font-weight: 700;
  font-family: "Ubuntu";
}
.header-content {
  width: 100%;
  max-width: 800px;
  padding: 50px 0;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}
.header-content h1 {
  font-size: clamp(40px, 6vw, 100px);
  font-weight: 700;
  font-family: "ubuntu";
  text-align: center;
}
.header-content p {
  font-size: clamp(14px, 2vw, 33px);
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
  width: 80%;
  margin: 30px auto;
}
#card-section {
  background-color: #e0edc1;
  padding: 40px 0;
}
#card-section .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
#card-section h2 {
  font-size: clamp(16px, 4vw, 48px);
  text-transform: uppercase;
  color: #7287ae;
  font-weight: 700;
  font-family: "Ubuntu";
  text-align: center;
  padding: 30px 0;
}
#card-section .col {
  background-color: #fff;
}
.card-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  max-height: 300px;
}
.card-content {
  padding: 15px;
}
.card-content p {
  padding: 10px 0;
  font-size: clamp(12px, 2vw, 25px);
  color: #504f4f;
  font-weight: 400;
  font-family: "Lato";
}
.card-content h3 {
  font-size: clamp(16px, 4vw, 33px);
  color: #504f4f;
  font-weight: 700;
  font-family: "Ubuntu";
}
.card-content span {
  font-size: clamp(12px, 2vw, 28px);
  letter-spacing: 2px;
  line-height: 66px;
  color: #565656;
  font-weight: 700;
  font-family: "Ubuntu";
}
.card-btn {
  text-align: center;
  margin: 60px 0;
}
.card-btn button {
  background-color: #6888b1;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 25px;
  font-size: clamp(12px, 2vw, 23px);
  letter-spacing: 5px;
  font-weight: 500;
  font-family: "Ubuntu";
}
.img-section {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#discount-section .row {
  display: flex;
}
#discount-section .col {
  width: 50%;
}
.right-part {
  margin: 70px 0;
  text-align: left;
  padding: 40px;
}
#discount-section .col h1 {
  font-size: clamp(18px, 6vw, 58px);
  color: #333333;
  font-weight: 700;
  font-family: "Ubuntu";
  padding: 20px 0;
  width: 80%;
}
#discount-section .col p {
  font-size: clamp(14px, 2vw, 29px);
  color: #333333;
  font-weight: 400;
  font-family: "Lato";
  margin: 15px 0;
  padding-bottom: 30px;
}
.discount-btn {
  text-align: left;
  margin-top: 10px;
}
#order-section {
  background-color: #6888b1;
  color: #fff;
  padding: 40px 0;
}
#order-section .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#order-section h2 {
  font-size: clamp(14px, 4vw, 48px);
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Ubuntu";
  text-align: center;
  padding: 20px 0;
}
#order-section .col {
  width: 33.33%;
  text-align: center;
  padding: 30px 0;
}
#order-section .col span {
  font-size: clamp(14px, 2vw, 46px);
  padding: 8px;
  background-color: #fff;
  color: #7287ae;
  font-weight: 700;
  font-family: "Ubuntu";
  text-align: center;
  border-radius: 50%;
}
#order-section .col h3 {
  font-size: clamp(14px, 4vw, 46px);
  font-weight: 700;
  font-family: "Ubuntu";
  padding: 20px 0;
}
#order-section .col p {
  font-size: clamp(12px, 2vw, 19px);
  font-weight: 400;
  font-family: "Lato";
  width: 90%;
}
#delivery-section {
  background-image: url(/images/voucher.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #6888b1;
  text-align: center;
  padding: 40px 0;
}

.delivery-content {
  margin: 40px auto;
}

.delivery-content h1 {
  font-size: clamp(18px, 6vw, 81px);
  font-weight: 700;
  font-family: "Ubuntu";
}

.delivery-content p {
  width: 70%;
  font-size: clamp(14px, 2vw, 29px);
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
  margin: 30px auto;
}
#waiter-section {
  background-color: #e0edc1;
  padding: 70px 0;
  color: #6888b1;
  align-items: center;
  text-align: center;
}

.waiter-content p {
  font-size: clamp(14px, 2vw, 37px);
margin: 30px 0;
  font-weight: 400;
  font-family: "Lato";
}

#waiter-section img {
  width: 60px;
  margin: 0 auto;
}

#waiter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
}

.icons i {
  background-color: #6888b1;
  color: #e0edc1;
  font-size: 23px;
  padding: 12px;
  border-radius: 50%;
}
